.Insert{
    height:50px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    // border:1px solid red;

    form{
        width:80%;
        display:flex;
        justify-content:center;
        align-items:center;

        input, select, button{
            width:22%;
            height:40px;
            border:none;
            margin:0 5px;
            border-radius:4px;
            text-align:center;
        }
    
        button, .typeselect{
            width:10%;
            max-width: 70px;
            cursor:pointer;
        }

        button{
            background-color:rgb(116, 185, 255);
            cursor:pointer;

            &:hover{
                background-color:rgb(9, 132, 227);
                color:#fff;
            }
        }

        
    }

} 