.Insert{
    height:100px;
    width:100%;
    background-color: skyblue;
    display:flex;
    justify-content:center;
    align-items:center;

    form{
        width:80%;
        display:flex;
        justify-content:center;
        align-items:center;

        input, select, button{
            width:22%;
            height:40px;
            border:none;
            margin:0 5px;
            border-radius:4px;
            text-align:center;
        }
    
        button, .typeselect{
            width:10%;
            max-width: 70px;
            cursor:pointer;
        }

        button{
            cursor:pointer
        }

        
    }

} 