.ListItem{
    display:flex;
    justify-content:center;

    table{
        width:80%;
        margin-top:30px;
        border-collapse: collapse;
        border:2px solid rgb(9, 132, 227);
        
        thead{
            font-weight:bold;
            background-color:rgb(116, 185, 255);
        }

        tr{
           text-align:center;
           height:50px;

           td{
            width:25%;
           }
        }
    }
}

@media screen and (max-width :  768px){
    .ListItem{
        table{
            thead{
                font-size:0.9rem;
            }

            tbody{
                font-size:0.8rem;
            }
            
            tr{
                height:35px;
            }
        }
    }
}