.Total{
    width:100%;
    height:150px;
    display: flex;
    justify-content:center;
    align-items: center;

    div{
        box-sizing:border-box;
        background:#fff;
        border-radius:10px;
        margin:0 2%;
        padding:0 5%;
        width:40%;
        height:70px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        font-weight:bold;
        font-size:1.3rem;
        box-shadow: 2px 2px 3px rgba(100, 100, 100, 0.2)
    }

    .total_deposit{
        color:rgb(64, 87, 168);
    }

    .total_withdraw{
        color:rgb(244, 101, 101);
    }
}